{% extends "base.html" %}
{% block content %}

    <!-- ======= Services Section ======= -->
        <section id="services" class="services">
          <div class="container">

            <div class="section-title">
              <h2>Functionalities</h2>
              <p>A comprehensive range of services offered by us. All of these can be accessed by patients from the comfort of their homes without hassle. Let us assist you to make your experience as pleasant as possible.</p>
            </div>

            <div class="row">
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="icon-box">
                  <div class="icon"><i class="icofont-heart-beat"></i></div>
                  <h4><a href="{{ url_for('symptom') }}">Check Symptoms</a></h4>
                  <p>Not sure if you are unwell? Are you uncertain about how to proceed? This chatbot assists in assessing your symptoms to help you make a decision.</p>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                  <div class="icon"><i class="icofont-drug"></i></div>
                  <h4><a href="{{ url_for('meds') }}">Order Medicines</a></h4>
                  <p>Medicines delivered from hospital's pharmacy right at your doorstep.</p>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                <div class="icon-box">
                  <div class="icon"><i class="icofont-dna-alt-2"></i></div>
                  <h4><a href="">Monthly Subscription</a></h4>
                  <p>If you need medicines delivered periodically, set a subscription here to automate the order-delivery process</p>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                  <div class="icon"><i class="icofont-heartbeat"></i></div>
                  <h4><a href="">Schedule an Appointment</a></h4>
                  <p>Schedule an appointment from the comfort of your home at a time which is convenient to you.</p>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                  <div class="icon"><i class="icofont-disabled"></i></div>
                  <h4><a href="">Get Tested at Home</a></h4>
                  <p>Some lab tests do not require the patient to visit the hospital. Visit this section to learn more about these lab tests and their availability.</p>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                  <div class="icon"><i class="icofont-autism"></i></div>
                  <h4><a href="">Set a Reminder</a></h4>
                  <p>If you are prone to forgetting to take your medicines regularly, setting a reminder will help you to remember and take them on time.</p>
                </div>
              </div>

            </div>

          </div>
        </section><!-- End Services Section -->

{% endblock %}
